blockquote {
    background-color: var(--blue-hover);
    border-radius: 5px;
    margin: 0 0 1rem;
    padding: 15px 15px 15px 65px;
    position: relative;
}

.blockquote {
    margin: 0;

    &__bg {
        width: 33px;
        height: 27px;
        position: absolute;
        fill: var(--grey7);
        opacity: .3;
        top: 15px;
        left: 20px;
    }
    &__head {
        color: var(--tabs-link);
    }
}