blockquote {
    font-weight: 500;
    border-left: 5px solid var(--yellow);

    @include media-breakpoint-up(sm)
    {
        & {
            font-size: 17px;
            margin: 0 0 1rem 35px;
            line-height: 24px;
            padding: 0 0 0 20px;
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            margin: 0 0 1rem;
            padding: 0 0 0 10px;
            border-width: 3px;
        }
    }
}

.blockquote {
    background-color: var(--blue-hover);
    border-radius: 5px;
    padding: 15px 15px 15px 65px;
    position: relative;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    border: none;

    &__bg {
        width: 33px;
        height: 27px;
        position: absolute;
        fill: var(--grey7);
        opacity: .3;
        top: 15px;
        left: 20px;
    }
    &__head {
        color: var(--tabs-link);
    }
}