.btn {
    height: 40px;
    padding: 0 20px;
    color: var(--white);
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    transition: all .5s;
    border: none;
    justify-content: center;

    &:hover {
        color: var(--white);
        text-decoration: none;
    }
    &-lg {
        height: 56px;
        padding: 0 25px;
    }
    &__icon {
        font-size: 20px;
        margin: 0 3px 0 0;
    }

    @include media-breakpoint-up(lg)
    {
        &-lg {
            font-size: 18px;
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            padding: 0 10px;

            &-lg {
                padding: 0 30px;
            }
            &_xs-full-width {
                padding: 0;
                width: 100%;
            }
        }
    }

    &-one {
        background-color: var(--yellow);

        &:hover {
            background-color: var(--yellow-light);
        }
    }
    &-two {
        background-color: var(--blue);

        &:hover {
            background-color: var(--blue-bright);
        }
    }
    &-three {
        border: 2px solid var(--grey7);
        color: var(--tabs-link);

        &:hover {
            border-color: var(--blue);
            color: var(--blue);
        }
    }

    &-clear {
        margin: 0 0 0 15px;
        font-size: 13px;
        color: var(--tabs-link);
        text-decoration: none;
        display: inline-flex;
        align-items: center;

        &:hover {
            text-decoration: none;
            color: var(--blue-bright);
        }
        &__icon {
            font-size: 18px;
            color: var(--grey5);
            margin: 0 2px 0 0;
            transition: all .5s;
        }
        &:hover &__icon {
            color: var(--blue-bright);
        }
    }
}

.btn-panel {
    display: flex;
    margin: 0 0 0 -15px;
    align-items: center;

    &__item {
        margin: 0 0 0 15px;
    }

    @include media-breakpoint-down(sm)
    {
        &_sm-wrap {
            flex-wrap: wrap;
            margin: 0 0 0 -10px;
        }
        &_sm-wrap &__item {
            margin: 0 0 10px 10px;
        }
    }
    @include media-breakpoint-only(xs)
    {
        &_xs-line {
            margin: 0;
            justify-content: space-between;
        }
        &_xs-line &__item {
            margin: 0;
        }
        &_xs-line &__left {
            width: calc(100% - 110px);
        }
        &_xs-line &__right {
            width: 100px;
        }
    }
}