.btn {
    height: 40px;
    padding: 0 20px;
    color: var(--white);
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    transition: all .5s;
    border: none;

    &:hover {
        color: var(--white);
        text-decoration: none;
    }
    &__icon {
        font-size: 20px;
        margin: 0 3px 0 0;
    }

    @include media-breakpoint-up(lg)
    {
        &_lg {
            height: 56px;
            font-size: 18px;
        }
    }
    @include media-breakpoint-only(xs)
    {
        & {
            padding: 0 10px;
        }
    }

    &-one {
        background-color: var(--yellow);

        &:hover {
            background-color: var(--yellow-light);
        }
    }
    &-two {
        background-color: var(--blue);

        &:hover {
            background-color: var(--blue-bright);
        }
    }
    &-three {
        border: 2px solid var(--grey7);
        color: var(--tabs-link);

        &:hover {
            border-color: var(--blue);
            color: var(--blue);
        }
    }
}