.commens-list {

    &__head {
        display: flex;
        align-items: center;
        margin: 0 0 10px;
    }
    &__time {
        margin: 0 auto 0 30px;
        color: var(--tabs-link);
    }
    &__answer-link {
        margin: 0 10px 0 0;
    }
    &__body {
        display: flex;
    }
    &__aside {
        width: 40px;
    }
    &__inner {
        width: calc(100% - 40px);
        margin: 0 0 0 auto;
    }
    &__foot {
        display: flex;
        align-items: center;
        margin: 10px 0 0;

        &_end {
            justify-content: flex-end;
        }
        &-item {
            margin: 0 0 0 10px;
        }
    }

    @include media-breakpoint-only(xs)
    {
        &__head {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 0 15px;
        }
        &__time {
            margin: -5px 0 0 40px;
            font-size: 13px;
        }
        &__body {
            display: block;
        }
        &__aside {
            width: 100%;
            margin: 0 0 15px;
        }
        &__inner {
            width: 100%;
            margin: 0;
        }
    }
}