.count-icon {
    height: 14px;
    line-height: 14px;
    position: absolute;
    background-color: var(--yellow);
    color: var(--white);
    font-size: 11px;
    padding: 0 3px;
    border-radius: 7px;
    min-width: 14px;
    text-align: center;
}