// Иконка три точки
.icon-dotted {
    display: block;
    font-size: 24px;
    color: var(--tabs-link);
    text-decoration: none;

    &:hover {
        color: var(--blue);
        text-decoration: none;
    }
}