.selector-block {
    display: none;
    position: absolute;
    background-color: var(--white);
    z-index: 10;
    box-shadow: 0 3px 10px var(--shadow-dark);
    border-radius: 8px;
    text-align: left;

    &_nowrap {
        white-space: nowrap;
    }
    &_full-width {
        min-width: 100%;
    }
    &__item {
        font-size: 13px;
        color: var(--font-color);
        display: block;
        padding: 10px 20px;
        line-height: 20px;
        text-decoration: none;
        border-bottom: 1px solid var(--grey5);

        &:last-child {
            border: none;
        }
        &:hover {
            background-color: var(--blue-hover);
            text-decoration: none;
            color: var(--font-color);
        }
    }
}