.table-one-wrapper {
    margin: 0 0 25px;

    @include media-breakpoint-up(md)
    {
        & {
            border-radius: 8px;
            box-shadow: 0 4px 10px var(--shadow);
            overflow-x: auto;
        }
    }
}

.table-one {

    &__link {
        text-decoration: none;

        &:hover {
            color: var(--blue-bright);
        }
        &_blue {
            color: var(--blue-bright);
        }
        &_text {
            color: var(--font-color);
        }
        &_head {
            color: var(--tabs-link);

            &:hover {
                text-decoration: none;
            }
        }
        &_left {
            margin: 0 10px 0 0;
        }
    }
    &__icon {

        &-gear,
        &-file {
            display: block;
            font-size: 24px;
        }
        &-gear {
            color: var(--tabs-link);
            text-decoration: none;

            &:hover {
                color: var(--blue);
                text-decoration: none;
            }
        }
        &-file {
            color: var(--yellow-check);
            margin: 0 2px 0 0;
        }
    }
    &__check {
        color: var(--yellow-check);
        font-size: 18px;
        position: absolute;
        left: -10px;
    }
    &__nowrap {
        white-space: nowrap;
    }
    &__comment {
        font-style: italic;
        color: var(--grey5);
    }

    @include media-breakpoint-up(md)
    {
        & {
            background-color: var(--white);
            min-width: 100%;

            thead {
                border-radius: 8px;
                box-shadow: 0 6px 8px var(--shadow);
            }
            th, td {
                padding: 17px 10px;

                &:first-child {
                    padding: 12px 20px;
                    text-align: center;
                    width: 55px;
                }
                &:last-child {
                    padding-right: 20px;
                }
            }
            th {
                height: 60px;
                font-weight: 500;
                font-size: 13px;
                color: var(--tabs-link);
                white-space: nowrap;
            }
            td {
                position: relative;
                border-bottom: 1px solid var(--grey2);

                &:first-child:after,
                &:last-child:after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    bottom: -1px;
                    height: 1px;
                    background-color: var(--white);
                }
                &:first-child:after {
                    left: 0;
                }
                &:last-child:after {
                    right: 0;
                }
            }
            tr:last-child td {
                border: none;

                &:after {
                    display: none;
                }
            }
            &__label {
                display: none;
            }
            &__desktop-right {
                text-align: right;
            }
        }
    }
    @include media-breakpoint-down(sm)
    {
        & {
            display: block;

            thead {
                display: none;
            }
            tbody {
                display: block;
            }
            tr {
                display: flex;
                background-color: var(--white);
                margin: 0 0 10px;
                border-radius: 8px;
                box-shadow: 0 4px 10px var(--shadow);
                flex-direction: column;
                padding: 15px 25px;
                position: relative;
            }
            &__td {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                margin: 0 0 5px;
                position: relative;
            }
            &__label {
                font-size: 13px;
                color: var(--tabs-link);
            }
            &__mobile-margin {
                margin: 15px 0 0;
                overflow: hidden;
                display: block;
            }
            &__mobile-medium {
                font-weight: 500;
            }
            &__check {
                left: -20px;
            }
            &__menu {
                position: absolute;
                right: 0;
                top: 15px;
                z-index: 2;
            }
            &__status {
                position: absolute;
                right: 25px;
                top: 15px;
            }
            &__name {
                margin: 0 -25px 20px;
                padding: 0 25px 20px;
                border-bottom: 1px solid var(--grey2);
                display: block;
            }
            &__link_right {
                float: right;
            }
        }
    }
}