.table-sort {
    font-size: 20px;
    color: var(--grey4);
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    line-height: 6px;

    &:hover {
        text-decoration: none;
    }
    &__down {
        transform: rotate(180deg);
    }
    &__active {
        color: var(--font-color);
    }
}