.window-one {
    display: none;
    padding: 35px 40px 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 760px;
    overflow: visible;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 25px;

        &-back {
            display: none;
        }
    }
    &__foot {
        display: flex;
        align-items: center;

        &-left {
            margin: 0 15px 0 0;
        }
    }

    @include media-breakpoint-only(xs)
    {
        & {
            padding: 15px 20px;
            border-radius: 0;
            min-height: 100%;

            &__head {
                flex-wrap: wrap;
                justify-content: flex-start;

                &-back,
                &-back:hover {
                    font-size: 24px;
                    color: var(--font-color);
                    text-decoration: none;
                    display: block;
                    margin: 0 35px 0 0;
                }
            }
            &__xs-full {
                margin: 25px 0 0;
                width: 100%;
            }
            &__foot {

                &-left {
                    margin: 0 10px 0 0;
                    width: calc(100% - 120px);
                }
                &-right {
                    width: 110px;
                }
            }
        }
    }
}