.form-file {
    display: flex;
    align-items: center;

    &__icon {
        width: 32px;
        height: 28px;
        fill: var(--grey5);
        transition: all .5s;
    }
    &__info {
        color: var(--tabs-link);
    }
    &__link {
         position: relative;
    }
    &__input {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        bottom: 0;
        cursor: pointer;
    }

    @include media-breakpoint-up(sm)
    {
        & {
            height: 95px;
            border: 2px dashed var(--grey5);
            border-radius: 5px;
            flex-direction: column;
            justify-content: center;

            &__info {
                margin: 5px 0 0;
            }
        }
    }
    @include media-breakpoint-only(xs)
    {
        &__info {
            margin: 0 0 0 10px;
        }
    }
}