.form-input {
    position: relative;
    display: flex;
    background-color: var(--blue-hover);
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all .5s;
    padding: 0 0 0 15px;

    &:hover {
        border-color: var(--grey5);
    }
    &__input {
        width: 100%;
        height: 52px;
        padding: 10px 15px 0 0;
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
    &__label {
        color: var(--tabs-link);
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translate(0, -50%);
        left: 15px;
        pointer-events: none;
        transition: all .5s;
    }
    &__input:focus + &__label,
    &_set &__label {
        font-size: 12px;
        top: 10px;
    }
}