.form-label {
    background-color: var(--white);
    border: 1px solid var(--grey3);
    height: 28px;
    font-size: 13px;
    text-decoration: none;
    color: var(--font-color);
    border-radius: 14px;
    display: inline-flex;
    align-items: center;
    padding: 0 8px 0 10px;
    white-space: nowrap;
    margin: 0 2px 2px 0;
    position: relative;
    z-index: 2;

    &:hover {
        background-color: var(--blue-hover);
        text-decoration: none;
        color: var(--font-color);
    }
    &__icon {
        font-size: 14px;
        color: var(--grey6);
        margin: 0 0 0 2px;
    }
}