.form-textarea {
    background-color: var(--blue-hover);
    border-radius: 5px;
    overflow: hidden;
    transition: all .5s;
    border: 2px solid transparent;

    &:hover {
        border-color: var(--grey5);
    }
    &__panel {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 1px solid var(--grey2);

        &-item {
            display: flex;
            align-items: center;
            margin: 0 20px 0 0;
        }
        &-link {
            color: var(--textarea-panel);
            text-decoration: none;
            font-size: 24px;
            margin: 0 15px 0 0;

            &:hover {
                text-decoration: none;
                color: var(--blue);
            }
        }
        &-icon {
            display: block;
            fill: var(--textarea-panel);

            &:hover {
                fill: var(--blue);
            }
            &_q {
                width: 18px;
                height: 15px;
            }
        }
    }
    &__input {
        resize: none;
        border: none;
        background-color: transparent;
        width: 100%;
        display: block;
        padding: 10px 20px;
        color: var(--tabs-link);
        min-height: 115px;
    }

    @include media-breakpoint-only(sm)
    {
        &__panel {

            &-item {
                margin: 0 15px 0 0;
            }
            &-link {
                margin: 0 10px 0 0;
            }
        }
    }
    @include media-breakpoint-only(xs)
    {
        &__panel {
            padding: 10px;
            justify-content: space-between;

            &-item {
                margin: 0;
            }
            &-link {
                font-size: 18px;
                margin: 0 5px 0 0;
            }
        }
        &__input {
            padding: 10px 15px;
        }
    }
}