.filter-save {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    &__link {
        color: var(--font-color);
        text-decoration: none;
        font-weight: 500;
        font-size: 13px;
        display: flex;
        align-items: center;

        &-icon {
            font-size: 18px;
            margin: 0 5px 0 0;
        }
        &:hover {
            color: var(--yellow);
            text-decoration: none;
        }
    }
    &__setting {
        text-decoration: none;
        color: var(--grey6);
        text-decoration: none;

        &:hover {
            color: var(--yellow);
            text-decoration: none;
        }
    }
}