.alarm-block {
    text-decoration: none;
    position: relative;
    padding: 4px 5px 0 0;
    margin: 0 0 0 20px;
    color: var(--font-color);

    &__icon {
        font-size: 24px;
    }
    &__count {
        height: 14px;
        width: 14px;
        color: var(--white);
        background-color: var(--yellow);
        position: absolute;
        border-radius: 50%;
        top: 0;
        right: 0;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        line-height: 14px;
    }
    &:hover {
        text-decoration: none;
    }

    @include media-breakpoint-down(sm)
    {
        & {
            margin: 0 0 0 10px;
        }
    }
}