.main-footer {
    color: var(--white);
    background-color: var(--blue);
    padding: 30px 0 25px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        font-size: 13px;
        line-height: 24px;
    }
    &__copy {
        margin: 0 0 15px;
    }
    &__info {

        &-link {
            color: var(--white);
            text-decoration: none;

            &:hover {
                color: var(--white);
                text-decoration: underline;
            }
        }
    }
    &__right {
        width: calc(100% - 380px);
    }
}