.main-header {

    &__inner {
        display: flex;
        height: 85px;
        align-items: center;
    }
    &__logo {

        &-pict {
            display: block;
            margin: 0 0 0 -5px;
        }
    }
    &__left {
        width: 325px;
    }
    &__center {
        height: 100%;
    }
    &__right {
        margin: 0 0 0 auto;
    }
}

.head-info {
    background-color: var(--blue);
    padding: 15px 20px;
    border-radius: 0 0 8px 8px;
    color: var(--white);
    display: flex;

    &__item {

        &_border {
            padding: 0 20px 0 0;
            margin: 0 20px 0 0;
            border-right: 1px solid rgba(231, 231, 231, .2);
        }
    }
    &__label {
        font-size: 12px;
        opacity: .5;
    }
    &__value {
        font-size: 13px;
        font-weight: 500;
    }
    &__link {
        background-color: var(--yellow);
        font-size: 13px;
        font-weight: bold;
        display: inline-block;
        text-decoration: none;
        color: var(--white);
        border-radius: 10px;
        line-height: 20px;
        padding: 0 9px;
        margin: 0 0 0 5px;

        &:hover {
            background-color: var(--yellow-light);
            text-decoration: none;
            color: var(--white);
        }
    }
}

.user-info {
    display: flex;
    align-items: center;

    &__ava {
        height: 32px;
        width: 32px;
        background-color: var(--yellow);
        display: flex;
        align-items: center;
        color: var(--white);
        justify-content: center;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 500;
    }
    &__name {
        font-size: 13px;
        margin: 0 0 0 5px;
    }
}