<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap" rel="stylesheet">-->

    <title>Avancut</title>

</head>
<body>
    <header class="main-header">
        <div class="container">
            <div class="main-header__inner">
                <div class="main-header__left">
                    <a href="/" class="main-header__logo">
                        <img class="main-header__logo-pict" src="./local/img/logo.png" alt="">
                    </a>
                </div>
                <div class="main-header__center">

                    <div class="head-info">
                        <div class="head-info__item head-info__item_border">
                            <div class="head-info__label">Тариф</div>
                            <div class="head-info__value">Стартовый</div>
                        </div>
                        <div class="head-info__item head-info__item_border">
                            <div class="head-info__label">Осталось</div>
                            <div class="head-info__value">100 ч</div>
                        </div>
                        <div class="head-info__item">
                            <div class="head-info__label">На счету</div>
                            <div class="head-info__value">
                                0 руб.
                                <a class="head-info__link" href="javascript:;">Пополнить</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="main-header__right">
                    <div class="user-info">
                        <div class="user-info__ava">ЕГ</div>
                        <div class="user-info__name">Елена Гайнуллова</div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer class="main-footer">
        <div class="container">
            <div class="main-footer__inner">
                <div class="main-footer__left">
                    <div class="main-footer__copy">
                        © 2020 Avancut technology
                    </div>
                    <div class="main-footer__info">
                        ООО "Ромашка"<br>
                        г.Москва, ул.Ленина 10<br>
                        <a href="tel:+78002001955" class="main-footer__info-link">8-800-200-19-55</a>
                    </div>
                </div>
                <div class="main-footer__right"></div>
            </div>
        </div>
    </footer>
</body>
</html>