<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Avancut</title>

</head>
<body>
    <!-- Шапка сайта -->
    <header class="main-header">
        <div class="container">
            <div class="main-header__inner">
                <a href="javascript:;" class="btn-menu font-md"></a>
                <div class="main-header__left">
                    <a href="/" class="main-header__logo">
                        <img class="main-header__logo-pict" src="./local/img/logo.png" alt="">
                    </a>
                </div>
                <div class="main-header__center">

                    <!-- Информация в шапке -->
                    <div class="head-info">
                        <div class="head-info__item head-info__item_border">
                            <div class="head-info__label">Тариф</div>
                            <div class="head-info__value">Стартовый</div>
                        </div>
                        <div class="head-info__item head-info__item_border">
                            <div class="head-info__label">Осталось</div>
                            <div class="head-info__value">100 ч</div>
                        </div>
                        <div class="head-info__item">
                            <div class="head-info__label">На счету</div>
                            <div class="head-info__value">
                                0 руб.
                                <a class="head-info__link" href="javascript:;">Пополнить</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="main-header__right">

                    <!-- Информация о пользователе -->
                    <div class="position-relative">

                        <a href="javascript:;" class="user-info" data-jq-dropdown="#jq-dropdown-user" data-vertical-offset="10">
                            <div class="user-info__icon">ЕГ</div>
                            <div class="user-info__name">Елена Гайнуллова</div>
                            <div class="user-info__str font-md"></div>
                        </a>

                        <div id="jq-dropdown-user" class="selector-block selector-block_nowrap selector-block_full-width jq-dropdown jq-dropdown-relative jq-dropdown-anchor-sm-right">
                            <a href="javascript:;" class="selector-block__item">Перейти в профиль</a>
                            <a href="javascript:;" class="selector-block__item">Пополнить баланс</a>
                            <a href="javascript:;" class="selector-block__item">Выйти из системы</a>
                        </div>

                    </div>

                    <!-- Оповещения -->
                    <a href="javascript:;" class="alarm-block" data-jq-dropdown="#jq-dropdown-alarm" data-vertical-offset="10">
                        <span class="alarm-block__icon font-md"></span>
                        <span class="alarm-block__count count-icon">3</span>
                    </a>

                    <div id="jq-dropdown-alarm" class="alarm-window selector-block selector-block_nowrap jq-dropdown jq-dropdown-anchor-right scroll-pane">
                        <a href="javascript:;" class="selector-block__item">
                            <div class="alarm-window__line">Добавлена новая задача №135.</div>
                            <div class="alarm-window__line">Ответственный - Гайнуллова Е.В.</div>
                            <div class="alarm-window__time">сегодня, 18:10</div>
                        </a>
                        <a href="javascript:;" class="selector-block__item">
                            <div class="alarm-window__line">Добавлена новая задача №135.</div>
                            <div class="alarm-window__line">Ответственный - Гайнуллова Е.В.</div>
                            <div class="alarm-window__time">сегодня, 18:10</div>
                        </a>
                        <a href="javascript:;" class="selector-block__item">
                            <div class="alarm-window__line">Добавлена новая задача №135.</div>
                            <div class="alarm-window__line">Ответственный - Гайнуллова Е.В.</div>
                            <div class="alarm-window__time">сегодня, 18:10</div>
                        </a>
                        <a href="javascript:;" class="selector-block__item">
                            <div class="alarm-window__line">Добавлена новая задача №135.</div>
                            <div class="alarm-window__line">Ответственный - Гайнуллова Е.В.</div>
                            <div class="alarm-window__time">сегодня, 18:10</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- Рабочая область -->
    <main class="main-main">

        <!-- Верхний банер -->
        <div class="container">
            <div class="banner-full d-none d-md-block">
                <img class="banner-full__img" src="./local/uploads/banner.png" alt="">
            </div>
        </div>

        <!-- Вкладки -->
        <div class="tabs-block">
            <div class="container">
                <div class="tabs-block__inner">
                    <a href="javascript:;" class="tabs-block__link tabs-block__link_active">Все</a>
                    <a href="javascript:;" class="tabs-block__link">
                        Новые
                        <span class="tabs-block__count count-icon">10</span>
                    </a>
                    <a href="javascript:;" class="tabs-block__link">
                        Оценка
                        <span class="tabs-block__count count-icon">2</span>
                    </a>
                    <a href="javascript:;" class="tabs-block__link">
                        В работе
                        <span class="tabs-block__count count-icon">3</span>
                    </a>
                    <a href="javascript:;" class="tabs-block__link">Требуется реакция</a>
                    <a href="javascript:;" class="tabs-block__link">Архив</a>
                </div>
            </div>
        </div>

        <!-- Серая область -->
        <div class="bg-grey">
            <div class="container">

                <!-- Строка поиска -->
                <div class="search-line">
                    <div class="h1">Мои задачи</div>
                    <div class="search-line__panel">

                        <div class="search-line__inner">
                            <input class="search-line__input" type="text" value="для станка" placeholder="Поиск">
                            <a href="javascript:;" class="js-label-remove search-line__label">
                                в работе <span class="search-line__label-icon font-md"></span>
                            </a>
                            <a href="javascript:;" class="js-label-remove search-line__label">
                                новая <span class="search-line__label-icon font-md"></span>
                            </a>
                            <a href="javascript:;" class="js-label-remove search-line__label">
                                Пертов А.П. <span class="search-line__label-icon font-md"></span>
                            </a>
                            <span class="search-line__count">+2</span>
                            <a href="javascript:;" class="js-label-remove-all search-line__delete font-md"></a>
                            <button class="search-line__button font-md" type="submit"></button>
                        </div>

                        <!-- Фильтр -->
                        <div class="filter-block">
                            <div class="filter-block__head">
                                <a href="javascript:;" class="filter-block__close font-md"></a>
                                <div class="filter-block__name">Фильтры</div>
                            </div>
                            <div class="filter-block__left">

                                <div class="filter-status">
                                    <a href="javascript:;" class="filter-status__link filter-status__link_active">
                                        <span class="filter-status__link-icon font-md"></span>В работе
                                    </a>
                                    <a href="javascript:;" class="filter-status__link">
                                        <span class="filter-status__link-icon font-md"></span>Завершены
                                    </a>
                                    <a href="javascript:;" class="filter-status__link">
                                        <span class="filter-status__link-icon font-md"></span>Отложены
                                    </a>
                                    <a href="javascript:;" class="filter-status__link">
                                        <span class="filter-status__link-icon font-md"></span>Просрочены
                                    </a>
                                    <a href="javascript:;" class="filter-status__link">
                                        <span class="filter-status__link-icon font-md"></span>Почти просрочены
                                    </a>
                                </div>

                                <div class="filter-save">
                                    <a href="javascript:;" class="filter-save__link">
                                        <span class="filter-save__link-icon font-md"></span>
                                        <span class="filter-save__link-name">Сохранить</span>
                                    </a>
                                    <a href="javascript:;" class="filter-save__setting font-md"></a>
                                </div>

                            </div>
                            <div class="filter-block__right">

                                <form>

                                    <div class="filter-select">
                                        <div class="filter-select__clicker" data-jq-dropdown="#jq-dropdown-filter1"></div>
                                        <div class="filter-select__line">
                                            <div class="filter-select__label">Роль</div>
                                            <span class="filter-select__str font-md"></span>
                                        </div>
                                        <div id="jq-dropdown-filter1" class="filter-select-dropdown jq-dropdown jq-dropdown-relative">
                                            <label class="filter-select-dropdown__item">
                                                <input class="filter-select-dropdown__checkbox" type="checkbox" value="">
                                                <span class="filter-select-dropdown__name">Пункт №1</span>
                                            </label>
                                            <label class="filter-select-dropdown__item">
                                                <input class="filter-select-dropdown__checkbox" type="checkbox" value="">
                                                <span class="filter-select-dropdown__name">Пункт №2</span>
                                            </label>
                                            <label class="filter-select-dropdown__item">
                                                <input class="filter-select-dropdown__checkbox" type="checkbox" value="">
                                                <span class="filter-select-dropdown__name">Пункт №3</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="filter-select">
                                        <div class="filter-select__clicker" data-jq-dropdown="#jq-dropdown-filter2"></div>
                                        <div class="filter-select__line">
                                            <div class="filter-select__label">Статус</div>
                                            <span class="filter-select__str font-md"></span>
                                        </div>
                                        <div id="jq-dropdown-filter2" class="filter-select-dropdown jq-dropdown jq-dropdown-relative">
                                            <label class="filter-select-dropdown__item">
                                                <input class="filter-select-dropdown__checkbox" type="checkbox" value="">
                                                <span class="filter-select-dropdown__name">Ждет выполнения</span>
                                            </label>
                                            <label class="filter-select-dropdown__item">
                                                <input class="filter-select-dropdown__checkbox" type="checkbox" value="">
                                                <span class="filter-select-dropdown__name">Выполняется</span>
                                            </label>
                                            <label class="filter-select-dropdown__item">
                                                <input class="filter-select-dropdown__checkbox" type="checkbox" value="">
                                                <span class="filter-select-dropdown__name">Обсуждение</span>
                                            </label>
                                            <label class="filter-select-dropdown__item">
                                                <input class="filter-select-dropdown__checkbox" type="checkbox" value="">
                                                <span class="filter-select-dropdown__name">Завершено</span>
                                            </label>
                                            <label class="filter-select-dropdown__item">
                                                <input class="filter-select-dropdown__checkbox" type="checkbox" value="">
                                                <span class="filter-select-dropdown__name">Забракован</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="filter-input">
                                        <input class="filter-input__input" type="text" value="">
                                        <label class="filter-input__label">Ответственный</label>
                                    </div>

                                    <div class="filter-search">
                                        <a href="javascript:;" class="js-dropdown-remove filter-label">avancut.ru <span class="filter-label__icon font-md"></span></a>
                                        <input class="filter-search__input" type="text" value="">
                                        <label class="filter-search__label">Проект (группа)</label>
                                    </div>

                                    <div class="filter-edit">
                                        <a href="javascript:;" class="filter-edit__set">
                                            <span class="filter-edit__set-icon font-md"></span>Добавить поле
                                        </a>
                                        <a href="javascript:;" class="filter-edit__reset">
                                            <span class="filter-edit__reset-icon font-md"></span>Вернуть поля по умолчанию
                                        </a>
                                    </div>

                                    <div class="filter-set">
                                        <button class="btn btn-two" type="submit">Применить фильтр</button>
                                        <a href="javascript:;" class="js-filter-reset filter-set__reset">
                                            <span class="filter-set__reset-icon font-md"></span>Сбросить
                                        </a>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                    <a href="javascript:;" class="search-line__filter">
                        <span class="search-line__filter-icon font-md"></span>
                        <span class="search-line__filter-count count-icon">2</span>
                    </a>
                    <a href="javascript:;" class="btn btn-one">
                        <span class="btn__icon font-md"></span>
                        <span class="d-none d-sm-block">Создать задачу</span>
                    </a>
                </div>

                <!-- Таблица -->
                <div class="table-one-wrapper">
                    <table class="table-one">
                        <thead>
                            <tr>
                                <th>
                                    <a href="javascript:;" class="table-one__icon-gear font-md"></a>
                                </th>
                                <th>
                                    Номер

                                    <!-- Сортировка в таблице -->
                                    <a href="javascript:;" class="table-sort font-md">
                                        <span class="table-sort__down"></span>
                                        <span class="table-sort__active"></span>
                                    </a>

                                </th>
                                <th class="table-one__name">Название</th>
                                <th>Статус</th>
                                <th>Дата создания</th>
                                <th>Крайний срок</th>
                                <th>Выделено/Затрачено</th>
                                <th>Ответственный</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="table-one__menu">
                                    <a href="javascript:;" class="table-one__icon-dotted font-md" data-jq-dropdown="#jq-dropdown-table" data-vertical-offset="10"></a>
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__check font-md"></span>
                                    <a href="javascript:;" class="table-one__link table-one__link_blue">
                                        <span class="d-md-none">№</span>123
                                    </a>
                                </td>
                                <td class="table-one__td table-one__name">
                                    <a href="javascript:;" class="table-one__link table-one__link_text">Задача для станка №1</a>
                                </td>
                                <td class="table-one__status">
                                    <span class="status-label status-label_v1">Новая</span>
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Дата создания</span>
                                    18.05.2020
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Крайний срок</span>
                                    20.05.2020
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Выделено/Затрачено</span>
                                    <span>
                                        46:00 <span class="status-label status-label_v3 status-label_medium status-label_margin">12:00</span>
                                    </span>
                                </td>
                                <td class="table-one__td table-one__user">
                                    <span class="table-one__label">Ответственный</span>
                                    <a href="javascript:;" class="user-block">
                                        <span class="user-block__icon">ПА</span>
                                        <span class="user-block__name">Петров А.П.</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-one__menu">
                                    <a href="javascript:;" class="table-one__icon-dotted font-md" data-jq-dropdown="#jq-dropdown-table" data-vertical-offset="10"></a>
                                </td>
                                <td class="table-one__td">
                                    <a href="javascript:;" class="table-one__link table-one__link_blue">
                                        <span class="d-md-none">№</span>123
                                    </a>
                                </td>
                                <td class="table-one__td table-one__name">
                                    <a href="javascript:;" class="table-one__link table-one__link_text">Задача для станка №2</a>
                                </td>
                                <td class="table-one__status">
                                    <span class="status-label status-label_v2">В работе</span>
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Дата создания</span>
                                    18.05.2020
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Крайний срок</span>
                                    20.05.2020
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Выделено/Затрачено</span>
                                    <span>
                                        25:00 <span class="status-label status-label_v4 status-label_medium status-label_margin">30:00</span>
                                    </span>
                                </td>
                                <td class="table-one__td table-one__user">
                                    <span class="table-one__label">Ответственный</span>
                                    <a href="javascript:;" class="user-block">
                                        <span class="user-block__icon">ПА</span>
                                        <span class="user-block__name">Петров А.П.</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-one__menu">
                                    <a href="javascript:;" class="table-one__icon-dotted font-md" data-jq-dropdown="#jq-dropdown-table" data-vertical-offset="10"></a>
                                </td>
                                <td class="table-one__td">
                                    <a href="javascript:;" class="table-one__link table-one__link_blue">
                                        <span class="d-md-none">№</span>123
                                    </a>
                                </td>
                                <td class="table-one__td table-one__name">
                                    <a href="javascript:;" class="table-one__link table-one__link_text">Задача для станка №3</a>
                                </td>
                                <td class="table-one__status">
                                    <span class="status-label status-label_v2">В работе</span>
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Дата создания</span>
                                    18.05.2020
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Крайний срок</span>
                                    20.05.2020
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Выделено/Затрачено</span>
                                    <span>
                                        46:00 <span class="status-label status-label_v3 status-label_medium status-label_margin">12:00</span>
                                    </span>
                                </td>
                                <td class="table-one__td table-one__user">
                                    <span class="table-one__label">Ответственный</span>
                                    <a href="javascript:;" class="user-block">
                                        <span class="user-block__icon">ПА</span>
                                        <span class="user-block__name">Петров А.П.</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-one__menu">
                                    <a href="javascript:;" class="table-one__icon-dotted font-md" data-jq-dropdown="#jq-dropdown-table" data-vertical-offset="10"></a>
                                </td>
                                <td class="table-one__td">
                                    <a href="javascript:;" class="table-one__link table-one__link_blue">
                                        <span class="d-md-none">№</span>123
                                    </a>
                                </td>
                                <td class="table-one__td table-one__name">
                                    <a href="javascript:;" class="table-one__link table-one__link_text">Задача для станка №4</a>
                                </td>
                                <td class="table-one__status">
                                    <span class="status-label status-label_v2">В работе</span>
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Дата создания</span>
                                    18.05.2020
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Крайний срок</span>
                                    20.05.2020
                                </td>
                                <td class="table-one__td">
                                    <span class="table-one__label">Выделено/Затрачено</span>
                                    <span>
                                        46:00 <span class="status-label status-label_v3 status-label_medium status-label_margin">12:00</span>
                                    </span>
                                </td>
                                <td class="table-one__td table-one__user">
                                    <span class="table-one__label">Ответственный</span>
                                    <a href="javascript:;" class="user-block">
                                        <span class="user-block__icon">ПА</span>
                                        <span class="user-block__name">Петров А.П.</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Меню строк -->
                <div id="jq-dropdown-table" class="selector-block selector-block_nowrap jq-dropdown jq-dropdown-anchor-sm-right">
                    <a href="javascript:;" class="selector-block__item">Действие первое</a>
                    <a href="javascript:;" class="selector-block__item">Действие второе</a>
                    <a href="javascript:;" class="selector-block__item">Действие еще одно</a>
                    <a href="javascript:;" class="selector-block__item">Действие последнее</a>
                </div>

                <!-- Постраничной навигации и Показать по -->
                <div class="page-navigation-counter">
                    <div class="page-navigation-counter__count">
                        Всего: 3
                    </div>
                    <div>

                        <!-- Постраничной навигации -->
                        <div class="page-navigation">
                            <a href="javascript:;" class="page-navigation__prev font-md"></a>
                            <a href="javascript:;" class="page-navigation__link">1</a>
                            <a href="javascript:;" class="page-navigation__link page-navigation__link_active">2</a>
                            <a href="javascript:;" class="page-navigation__link">3</a>
                            <a href="javascript:;" class="page-navigation__link">4</a>
                            <a href="javascript:;" class="page-navigation__link">5</a>
                            <a href="javascript:;" class="page-navigation__next font-md"></a>
                        </div>

                    </div>
                    <div class="page-navigation-counter__last">

                        <!-- Показать по -->
                        <div class="page-counter">
                            <a href="javascript:;" class="page-counter__label" data-jq-dropdown="#jq-dropdown-counter" data-vertical-offset="5">
                                Показывать по&nbsp;<span class="page-counter__label-count">10</span>&nbsp;<span class="page-counter__label-icon font-md"></span>
                            </a>
                            <div id="jq-dropdown-counter" class="page-counter__selector selector-block selector-block_full-width jq-dropdown jq-dropdown-relative">
                                <a href="javascript:;" class="selector-block__item" data-val="5">по 5</a>
                                <a href="javascript:;" class="selector-block__item" data-val="10">по 10</a>
                                <a href="javascript:;" class="selector-block__item" data-val="20">по 20</a>
                                <a href="javascript:;" class="selector-block__item" data-val="50">по 50</a>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Нижний банер -->
                <div class="banner-full">
                    <img class="banner-full__img d-none d-md-block" src="./local/uploads/banner.png" alt="">
                    <img class="banner-full__img d-md-none" src="./local/uploads/banner.small.png" alt="">
                </div>

            </div>
        </div>

    </main>

    <!-- Подвал сайта -->
    <footer class="main-footer">
        <div class="container">
            <div class="main-footer__inner">
                <div class="main-footer__left">
                    <div class="main-footer__copy">
                        © 2020 Avancut technology
                    </div>
                    <div class="main-footer__info">
                        ООО "Ромашка"<br>
                        г.Москва, ул.Ленина 10<br>
                        <a href="tel:+78002001955" class="main-footer__info-link">8-800-200-19-55</a>
                    </div>
                </div>
                <div class="main-footer__right">
                    <div class="row">
                        <div class="col-3 d-none d-md-block">

                            <!-- Нижнее меню -->
                            <nav class="nav-footer">
                                <a href="javascript:;" class="nav-footer__title">Задачи</a>
                                <a href="javascript:;" class="nav-footer__link">Новые</a>
                                <a href="javascript:;" class="nav-footer__link">Оценка</a>
                                <a href="javascript:;" class="nav-footer__link">В работе</a>
                                <a href="javascript:;" class="nav-footer__link">Архив</a>
                                <a href="javascript:;" class="nav-footer__link">Создать задачу</a>
                            </nav>

                        </div>
                        <div class="col-3 d-none d-md-block">

                            <!-- Нижнее меню -->
                            <nav class="nav-footer">
                                <a href="javascript:;" class="nav-footer__title">Личный кабинет</a>
                                <a href="javascript:;" class="nav-footer__link">Настройки</a>
                                <a href="javascript:;" class="nav-footer__link">Мои станки</a>
                                <a href="javascript:;" class="nav-footer__link">Сменить пароль</a>
                            </nav>

                        </div>
                        <div class="col-3 d-none d-md-block">

                            <!-- Нижнее меню -->
                            <nav class="nav-footer">
                                <a href="javascript:;" class="nav-footer__title">О проекте</a>
                                <a href="javascript:;" class="nav-footer__link">Вопросы и ответы</a>
                                <a href="javascript:;" class="nav-footer__link">Техподдержка</a>
                                <a href="javascript:;" class="nav-footer__link">Написать нам</a>
                            </nav>

                        </div>
                        <div class="col-md-3">

                            <!-- Нижнее меню -->
                            <nav class="nav-footer">
                                <a href="javascript:;" class="nav-footer__title">Помощь</a>
                                <a href="javascript:;" class="nav-footer__link">Вопросы и ответы</a>
                                <a href="javascript:;" class="nav-footer__link">Техподдержка</a>
                                <a href="javascript:;" class="nav-footer__link">Написать нам</a>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Меню на мобильнике -->
    <nav class="nav-mobile">
        <a href="javascript:;" class="nav-mobile__close font-md"></a>
        <div class="nav-mobile__item">
            <a href="javascript:;" class="nav-mobile__title">Задачи</a>
            <a href="javascript:;" class="nav-mobile__link">Новые</a>
            <a href="javascript:;" class="nav-mobile__link">Оценка</a>
            <a href="javascript:;" class="nav-mobile__link">В работе</a>
            <a href="javascript:;" class="nav-mobile__link">Архив</a>
            <a href="javascript:;" class="nav-mobile__link">Создать задачу</a>
        </div>
        <div class="nav-mobile__item">
            <a href="javascript:;" class="nav-mobile__title">Личный кабинет</a>
            <a href="javascript:;" class="nav-mobile__link">Настройки</a>
            <a href="javascript:;" class="nav-mobile__link">Мои станки</a>
            <a href="javascript:;" class="nav-mobile__link">Сменить пароль</a>
        </div>
        <div class="nav-mobile__item">
            <a href="javascript:;" class="nav-mobile__title">О проекте</a>
            <a href="javascript:;" class="nav-mobile__link">Вопросы и ответы</a>
            <a href="javascript:;" class="nav-mobile__link">Техподдержка</a>
            <a href="javascript:;" class="nav-mobile__link">Написать нам</a>
        </div>
        <div class="nav-mobile__item">
            <a href="javascript:;" class="nav-mobile__title">Помощь</a>
            <a href="javascript:;" class="nav-mobile__link">Вопросы и ответы</a>
            <a href="javascript:;" class="nav-mobile__link">Техподдержка</a>
            <a href="javascript:;" class="nav-mobile__link">Написать нам</a>
        </div>
    </nav>

</body>
</html>