<% var data = {
    title: "Profile",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="mb-15"></div>

<!-- Серая область -->
<div class="bg-grey">
    <div class="container">

        <h1>Мой профиль</h1>

        <div class="block-white mb-30">

            <div class="profile-page">
                <div class="profile-page__left">

                    <div class="profile-ava">
                        <div class="profile-ava__pict">
                            <img class="profile-ava__img" src="./local/uploads/profile.ava.png" alt="">
                            <a href="javascript:;" class="profile-ava__delete font-md"></a>
                        </div>
                        <!-- Нет фото -->
                        <div class="profile-ava__pict d-none">
                            <div class="profile-ava__img-no">ЕГ</div>
                        </div>
                        <div class="profile-ava__links">
                            <div class="profile-ava__file">
                                <input class="profile-ava__file-input" type="file" value="">
                                Загрузить
                            </div>
                            <a href="javascript:;" class="profile-ava__link">Сделать фото</a>
                        </div>
                    </div>

                </div>
                <div class="profile-page__right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-input form-input_border-fix mb-20">
                                <input class="form-input__input" type="text" value="Елена">
                                <label class="form-input__label">
                                    Имя <span class="form-input__label-star">*</span>
                                </label>
                                <span class="form-input__required-text">Поле обязательно для заполнения</span>
                            </div>
                            <div class="form-input form-input_border-fix mb-20">
                                <input class="form-input__input" type="text" value="Гайнуллова">
                                <label class="form-input__label">
                                    Фамилия <span class="form-input__label-star">*</span>
                                </label>
                                <span class="form-input__required-text">Поле обязательно для заполнения</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-input form-input_border-fix mb-20">
                                <input class="form-input__input" type="tel" value="+ 7 900 222 30 30">
                                <label class="form-input__label">
                                    Телефон <span class="form-input__label-star">*</span>
                                </label>
                                <span class="form-input__required-text">Поле обязательно для заполнения</span>
                            </div>
                            <div class="form-input form-input_border-fix mb-20 is-invalid">
                                <input class="form-input__input" type="email" value="">
                                <label class="form-input__label">
                                    E-mail <span class="form-input__label-star">*</span>
                                </label>
                                <span class="form-input__required-text">Поле обязательно для заполнения</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-25"></div>
                    <div class="form-input form-input_border-fix mb-30">
                        <input class="form-input__input" type="text" value='ООО "Ромашка"'>
                        <label class="form-input__label">
                            Компания
                        </label>
                    </div>
                    <div class="h3">Смена пароля</div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-input mb-20">
                                <input class="form-input__input" type="password" value="">
                                <label class="form-input__label">
                                    Старый пароль
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-input mb-20">
                                <input class="form-input__input" type="password" value="">
                                <label class="form-input__label">
                                    Новый пароль
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-15"></div>
                    <div class="profile-page__btns">
                        <div class="profile-page__btn">
                            <a href="javascript:;" class="btn btn-lg btn-one btn_xs-full-width">
                                Сохранить
                            </a>
                        </div>
                        <div class="profile-page__btn">
                            <a href="javascript:;" class="btn btn-lg btn-three btn_xs-full-width">
                                Отмена
                            </a>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>

        <%= _.template(require('./../includes/banner.bottom.html'))() %>

    </div>
</div>

<%= _.template(require('./../includes/footer.html'))() %>