<% var data = {
    title: "Tariff Refill",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<!-- Вкладки -->
<div class="tabs-block">
    <div class="container">
        <div class="tabs-block__inner">
            <a href="javascript:;" class="tabs-block__link">Мой профиль</a>
            <a href="javascript:;" class="tabs-block__link tabs-block__link_active">Мой тариф</a>
            <a href="javascript:;" class="tabs-block__link">Мое оборудование</a>
        </div>
    </div>
</div>

<!-- Серая область -->
<div class="bg-grey">
    <div class="container">

        <h1 class="d-none d-lg-block">Мой тариф</h1>

        <!-- Информация о тарифе -->
        <div class="tariff-info">
            <div class="tariff-info__block tariff-info__block_border">
                <svg class="tariff-info__icon tariff-info__icon1">
                    <use xlink:href="./local/img/icon.tariff.svg#icon1"></use>
                </svg>
                <div class="tariff-info__inner">
                    <div class="tariff-info__line">
                        <div class="tariff-info__label">Текущий тариф:</div>
                        <div class="tariff-info__value">Стартовый</div>
                    </div>
                    <a href="javascript:;" class="tariff-info__btn">Изменить</a>
                </div>
            </div>
            <div class="tariff-info__block tariff-info__block_border">
                <svg class="tariff-info__icon tariff-info__icon2">
                    <use xlink:href="./local/img/icon.tariff.svg#icon2"></use>
                </svg>
                <div class="tariff-info__inner">
                    <div class="tariff-info__line">
                        <div class="tariff-info__label">Остаток часов:</div>
                        <div class="tariff-info__value">100 ч</div>
                    </div>
                    <a href="javascript:;" class="tariff-info__btn">Купить</a>
                </div>
            </div>
            <div class="tariff-info__block">
                <svg class="tariff-info__icon tariff-info__icon3">
                    <use xlink:href="./local/img/icon.tariff.svg#icon3"></use>
                </svg>
                <div class="tariff-info__inner">
                    <div class="tariff-info__line">
                        <div class="tariff-info__label">На счету:</div>
                        <div class="tariff-info__value">0 руб.</div>
                    </div>
                    <a href="javascript:;" class="tariff-info__btn">Пополнить</a>
                </div>
            </div>
        </div>

        <div class="h1 d-lg-none">Мой тариф</div>

        <!-- Вкладки -->
        <div class="tabs-panel">
            <a href="javascript:;" class="tabs-panel__link">Тарифы</a>
            <a href="javascript:;" class="tabs-panel__link">Часы</a>
            <a href="javascript:;" class="tabs-panel__link tabs-panel__link_active">Пополнить счет</a>
            <a href="javascript:;" class="tabs-panel__link">
                <span class="d-none d-md-block">История (пополнения)</span>
                <span class="d-md-none">Пополнения</span>
            </a>
            <a href="javascript:;" class="tabs-panel__link">
                <span class="d-none d-md-block">История (списания)</span>
                <span class="d-md-none">Списания</span>
            </a>
        </div>

        <!-- Пополнить счет -->
        <div class="tariff-refill block-white">
            <form class="js-refill-block">
                <div class="tariff-refill__inner">
                    <div class="tariff-refill__left">
                        <div class="h3">Выберите удобный способ оплаты</div>
                        <div class="tariff-refill__items">
                            <label class="tariff-refill__item">
                                <input class="tariff-refill__input" type="radio" value="" name="radio" checked>
                                <div class="tariff-refill__bg">
                                    <div class="tariff-refill__pict">
                                        <svg class="tariff-refill__icon tariff-refill__icon1">
                                            <use xlink:href="./local/img/icon.tariff.svg#icon4"></use>
                                        </svg>
                                    </div>
                                    <div class="tariff-refill__name">Банковской картой</div>
                                </div>
                            </label>
                            <label class="tariff-refill__item">
                                <input class="tariff-refill__input" type="radio" value="" name="radio">
                                <div class="tariff-refill__bg">
                                    <div class="tariff-refill__pict">
                                        <svg class="tariff-refill__icon tariff-refill__icon2">
                                            <use xlink:href="./local/img/icon.tariff.svg#icon5"></use>
                                        </svg>
                                    </div>
                                    <div class="tariff-refill__name">Выставить счет</div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="tariff-refill__right">
                        <div class="h3 d-none d-md-block">Заполните данные</div>
                        <div class="form-input mb-10">
                            <input class="form-input__input" type="text" value="">
                            <label class="form-input__label">Введите ИНН</label>
                        </div>
                        <div class="form-input mb-20">
                            <input class="form-input__input" type="text" value="">
                            <label class="form-input__label">Введите сумму</label>
                        </div>
                        <div class="tariff-refill__btns">
                            <button type="submit" class="btn btn-lg btn-one">
                                Пополнить
                            </button>
                            <a href="javascript:;" class="btn-clear js-refill-reset">
                                <span class="btn-clear__icon font-md"></span>
                                Очистить
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <%= _.template(require('./../includes/banner.bottom.html'))() %>

    </div>
</div>

<%= _.template(require('./../includes/footer.html'))() %>