<% var data = {
    title: "Task",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="mb-15"></div>

<!-- Серая область -->
<div class="bg-grey">
    <div class="container">

        <!-- Хлебные крошки -->
        <div class="breadcrumbs">
            <a href="javascript:;" class="breadcrumbs__link">Мои задачи</a>
            <span class="breadcrumbs__sep font-md"></span>
            <span class="breadcrumbs__point">Управляющая программа для лазерного станка №156</span>
        </div>

        <!-- H1 с пометкой -->
        <div class="head-label">
            <div class="h1 mb-0">Управляющая программа для лазерного станка №156</div>
            <div class="head-label__label">Важная</div>
        </div>

        <div class="block-white">
            <div class="block-white__head">

                <div class="task-head">
                    <div class="task-head__item task-head__item_border">
                        Трудозатраты: <span class="task-head__value">100:00</span>
                    </div>
                    <div class="task-head__item task-head__item_border">
                        Крайний срок: <span class="task-head__value">28.05.2020</span>
                    </div>
                    <div class="task-head__item">
                        Ответственный: <span class="task-head__value">Иванов И.И.</span>
                    </div>
                    <div class="task-head__item task-head__item_right">
                        Статус: <span class="task-head__value">Оценка</span>
                    </div>
                </div>
            
            </div>
            <div class="block-white__body">
                <div class="mb-20">
                    Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками.
                </div>

                <div class="task-action">
                    <div class="task-action__item">
                        <a href="javascript:;" class="btn btn-one">
                            Завершить
                        </a>
                    </div>
                    <div class="task-action__item">
                        <a href="javascript:;" class="btn btn-three">
                            Приостановить
                        </a>
                    </div>
                    <div class="task-action__item task-action__item_menu">
                        <a href="javascript:;" class="icon-dotted font-md" data-jq-dropdown="#jq-dropdown-task" data-vertical-offset="10">
                            
                        </a>

                        <!-- Меню строк -->
                        <div id="jq-dropdown-task" class="selector-block selector-block_nowrap jq-dropdown jq-dropdown-relative jq-down-sm-right">
                            <a href="javascript:;" class="selector-block__item">Действие первое</a>
                            <a href="javascript:;" class="selector-block__item">Действие второе</a>
                            <a href="javascript:;" class="selector-block__item">Действие еще одно</a>
                            <a href="javascript:;" class="selector-block__item">Действие последнее</a>
                        </div>

                    </div>
                    <div class="task-action__item task-action__item_last">
                        <a href="javascript:;" class="btn btn-three">
                            Отменить
                        </a>
                    </div>
                </div>

                <hr>

                <div class="task-watcher">
                    <div class="task-watcher__label">Наблюдатели:</div>
                    <a href="javascript:;" class="task-watcher__item">Анастасия Рязнова</a>
                    <a href="javascript:;" class="task-watcher__item">Иван Иванов</a>
                    <a href="javascript:;" class="task-watcher__item">Владимир Лукьянов</a>
                </div>

            </div>
        </div>

        <div class="block-white mb-30">
            <div class="block-white__head block-white__head_no-padding">

                <div class="tabs-block">
                    <div class="tabs-block__inner">
                        <a href="javascript:;" class="tabs-block__link tabs-block__link_active">Комментарии</a>
                        <a href="javascript:;" class="tabs-block__link">История</a>
                        <a href="javascript:;" class="tabs-block__link">Время</a>
                    </div>
                </div>

            </div>
            <div class="block-white__body">

                <div class="commens-list">
                    <div class="commens-list__item">
                        <div class="commens-list__head">
                            <div class="commens-list__user">
                                <a href="javascript:;" class="user-block user-block_blue">
                                    <span class="user-block__icon">ПА</span>
                                    <span class="user-block__name">Петров А.П.</span>
                                </a>
                            </div>
                            <div class="commens-list__time">
                                вчера 18:54:12
                            </div>
                            <a href="javascript:;" class="d-none d-sm-block commens-list__answer-link blue-link">Ответить</a>
                            <a href="javascript:;" class="d-none d-sm-block icon-dotted font-md" data-jq-dropdown="#jq-dropdown-commens" data-vertical-offset="10">
                                
                            </a>
                        </div>
                        <div class="commens-list__body">
                            <div class="commens-list__inner">
                                <p>Уважаемый <strong>Иванов Иван</strong>, прошу ответить на комментарий выше. Уважаемый Иванов Иван, прошу ответить на комментарий выше. Уважаемый Иванов Иван, прошу ответить на комментарий выше. Уважаемый Иванов Иван, прошу ответить на комментарий выше. Уважаемый Иванов Иван, прошу ответить на комментарий выше. Уважаемый Иванов Иван, прошу ответить на комментарий выше.</p>
                                <blockquote class="blockquote">
                                    <svg class="blockquote__bg">
                                        <use xlink:href="./local/img/sprite.svg#q"></use>
                                    </svg>
                                    <div class="blockquote__head">
                                        <a href="javascript:;" class="blue-link">Елена Гайнуллова</a> написала:
                                    </div>
                                    Комментарий выше
                                </blockquote>
                            </div>
                        </div>
                        <div class="commens-list__foot d-sm-none">
                            <a href="javascript:;" class="commens-list__answer-link blue-link">Ответить</a>
                            <a href="javascript:;" class="icon-dotted font-md" data-jq-dropdown="#jq-dropdown-commens" data-vertical-offset="10">
                                
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="commens-list__item">
                        <div class="commens-list__head">
                            <div class="commens-list__user">
                                <a href="javascript:;" class="user-block user-block_blue">
                                    <span class="user-block__icon">ИИ</span>
                                    <span class="user-block__name">Иванов И.И.</span>
                                </a>
                            </div>
                            <div class="commens-list__time">
                                вчера 18:54:12
                            </div>
                            <a href="javascript:;" class="d-none d-sm-block commens-list__answer-link blue-link">Ответить</a>
                            <a href="javascript:;" class="d-none d-sm-block icon-dotted font-md" data-jq-dropdown="#jq-dropdown-commens" data-vertical-offset="10">
                                
                            </a>
                        </div>
                        <div class="commens-list__body">
                            <div class="commens-list__inner">
                                <p><strong>Елена Гайнуллова</strong>, я вам уже отвечал ранее.</p>
                            </div>
                        </div>
                        <div class="commens-list__foot d-sm-none">
                            <a href="javascript:;" class="commens-list__answer-link blue-link">Ответить</a>
                            <a href="javascript:;" class="icon-dotted font-md" data-jq-dropdown="#jq-dropdown-commens" data-vertical-offset="10">
                                
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="commens-list__item">
                        <div class="commens-list__body">
                            <div class="commens-list__aside">

                                <a href="javascript:;" class="user-block user-block_blue">
                                    <span class="user-block__icon">ПА</span>
                                    <span class="user-block__name d-sm-none">Петров А.П.</span>
                                </a>

                            </div>
                            <div class="commens-list__inner">

                                <div class="form-textarea">
                                    <div class="form-textarea__panel font-md">
                                        <div class="form-textarea__panel-item">
                                            <a href="javascript:;" class="form-textarea__panel-link"></a>
                                            <a href="javascript:;" class="form-textarea__panel-link"></a>
                                            <a href="javascript:;" class="form-textarea__panel-link"></a>
                                        </div>
                                        <div class="form-textarea__panel-item">
                                            <a href="javascript:;" class="form-textarea__panel-link"></a>
                                            <a href="javascript:;" class="form-textarea__panel-link"></a>
                                        </div>
                                        <div class="form-textarea__panel-item">
                                            <a href="javascript:;" class="form-textarea__panel-link"></a>
                                            <a href="javascript:;" class="form-textarea__panel-link"></a>
                                            <a href="javascript:;" class="form-textarea__panel-link"></a>
                                        </div>
                                        <div class="form-textarea__panel-item">
                                            <a href="javascript:;" class="form-textarea__panel-link"></a>
                                        </div>
                                        <div class="form-textarea__panel-item">
                                            <a href="javascript:;">
                                                <svg class="form-textarea__panel-icon form-textarea__panel-icon_q">
                                                    <use xlink:href="./local/img/sprite.svg#q"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <textarea class="form-textarea__input" placeholder="Введите текст комментария"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="commens-list__foot commens-list__foot_end">
                            <div class="commens-list__foot-item">
                                <a href="javascript:;" class="sbtn sbtn-two">Отменить</a>
                            </div>
                            <div class="commens-list__foot-item">
                                <a href="javascript:;" class="sbtn sbtn-one">Отправить</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Меню строк -->
                <div id="jq-dropdown-commens" class="selector-block selector-block_nowrap jq-dropdown jq-up-sm-right">
                    <a href="javascript:;" class="selector-block__item">Действие первое</a>
                    <a href="javascript:;" class="selector-block__item">Действие второе</a>
                    <a href="javascript:;" class="selector-block__item">Действие еще одно</a>
                    <a href="javascript:;" class="selector-block__item">Действие последнее</a>
                </div>

            </div>
        </div>

        <%= _.template(require('./../includes/banner.bottom.html'))() %>

    </div>
</div>

<%= _.template(require('./../includes/footer.html'))() %>