<% var data = {
    title: "Text",
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="mb-15"></div>

<!-- Серая область -->
<div class="bg-grey">
    <div class="container">

        <h1>Текстовая страница</h1>

        <div class="block-white block-white_padding mb-30">
            <h2>Подзаголовок</h2>
            <p>Все гости совершали обряд приветствования никому не известной, никому не интересной и не нужной тетушки. Анна Павловна с грустным, торжественным участием следила за их приветствиями, молчаливо одобряя их. Ma tante каждому говорила в одних и тех же выражениях о его здоровье, о своем здоровье и о здоровье ее величества, которое нынче было, слава Богу, лучше. Все подходившие, из приличия не выказывая поспешности, с чувством облегчения исполненной тяжелой обязанности отходили от старушки, чтоб уж весь вечер ни разу не подойти к ней.</p>
            <p>Молодая княгиня Болконская приехала с работой в шитом золотом бархатном мешке. Ее хорошенькая, с чуть черневшимися усиками верхняя губка была коротка по зубам, но тем милее она открывалась и тем еще милее вытягивалась иногда и опускалась на нижнюю.</p>
            <br>
            <h2>Пример списка</h2>
            <ul>
                <li>Параметр списка первый</li>
                <li>Еще один параметр из списка</li>
                <li>Третий параметр из списка</li>
                <li>Последний параметр из списка</li>
            </ul>
            <h2>Пример нумерованного списка</h2>
            <ol>
                <li>Параметр списка первый</li>
                <li>Еще один параметр из списка</li>
                <li>Третий параметр из списка</li>
                <li>Последний параметр из списка</li>
            </ol>
            <p>Все гости совершали обряд приветствования никому не известной, никому не интересной и не нужной тетушки. Анна Павловна с грустным, торжественным участием следила за их приветствиями, молчаливо одобряя их. Ma tante каждому говорила в одних и тех же выражениях о его здоровье, о своем здоровье и о здоровье ее величества, которое нынче было, слава Богу, лучше. Все подходившие, из приличия не выказывая поспешности, с чувством облегчения исполненной тяжелой обязанности отходили от старушки, чтоб уж весь вечер ни разу не подойти к ней.</p>
            <blockquote>Все гости совершали обряд приветствования никому не известной, никому не интересной и не нужной тетушки. Анна Павловна с грустным, торжественным участием следила за их приветствиями, молчаливо одобряя их. Ma tante каждому говорила в одних и тех же выражениях о его здоровье, о своем здоровье и о здоровье ее величества.</blockquote>
            <p>Все подходившие, из приличия не выказывая поспешности, с чувством облегчения исполненной тяжелой обязанности отходили от старушки, чтоб уж весь вечер ни разу не подойти к ней. Молодая княгиня Болконская приехала с работой в шитом золотом бархатном мешке. Ее хорошенькая, с чуть черневшимися усиками верхняя губка была коротка по зубам, но тем милее она открывалась и тем еще милее вытягивалась иногда и опускалась на нижнюю.</p>
            <div class="table-two-wrapper mb-30">
                <table class="table-two">
                    <thead>
                        <tr>
                            <th>
                                Параметр

                                <!-- Сортировка в таблице -->
                                <a href="javascript:;" class="table-sort font-md">
                                    <span class="table-sort__down"></span>
                                    <span class="table-sort__active"></span>
                                </a>

                            </th>
                            <th>Параметр 2</th>
                            <th>Параметр 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Значение таблицы, колонка первая</td>
                            <td>Значение для второй колонки</td>
                            <td>Значение для третей колонки</td>
                        </tr>
                        <tr>
                            <td>Значение таблицы, колонка первая</td>
                            <td>Значение для второй колонки</td>
                            <td>Значение для третей колонки</td>
                        </tr>
                        <tr>
                            <td>Значение таблицы, колонка первая</td>
                            <td>Значение для второй колонки</td>
                            <td>Значение для третей колонки</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-panel btn-panel_sm-wrap">
                <div class="btn-panel__item">
                    <a href="javascript:;" class="btn btn-lg btn-one" data-fancybox data-src="#w1">Кнопка</a>
                </div>
                <div class="btn-panel__item">
                    <a href="javascript:;" class="btn btn-lg btn-two" data-fancybox data-src="#w2">Кнопка</a>
                </div>
                <div class="btn-panel__item">
                    <a href="javascript:;" class="btn btn-lg btn-three" data-fancybox data-src="#w3">Отмена</a>
                </div>
                <div class="btn-panel__item">
                    <a href="javascript:;" class="btn btn-lg btn-three" data-fancybox data-src="#w4">Ещё</a>
                </div>
                <div>
                    <a href="javascript:;" class="btn-clear" data-fancybox data-src="#w5">
                        <span class="btn-clear__icon font-md"></span>Сбросить
                    </a>
                </div>
            </div>
        </div>

        <%= _.template(require('./../includes/banner.bottom.html'))() %>

    </div>
</div>

<div class="window-one" id="w1">
    <div class="window-one__head">
        <a href="javascript:;" class="window-one__head-back font-md" data-fancybox-close></a>
        <div class="window-one__head-title h1 mb-0">Заголовок окна большого</div>
    </div>
    <div class="window-one__body mb-30">
        <p>Описание задачи длинное и полное, с подробными характеристиками.Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками. Описание задачи длинное и полное, с подробными характеристиками.</p>
    </div>
    <div class="window-one__foot">
        <div class="window-one__foot-left">
            <a href="javascript:;" class="btn btn-lg btn-one btn_xs-full-width">
                Кнопка действия
            </a>
        </div>
        <div class="window-one__foot-right">
            <a href="javascript:;" class="btn btn-lg btn-three btn_xs-full-width" data-fancybox-close>
                Отмена
            </a>
        </div>
    </div>
</div>

<div class="window-one window-one_short" id="w2">
    <div class="window-one__head">
        <a href="javascript:;" class="window-one__head-back font-md" data-fancybox-close></a>
        <div class="window-one__head-title h1 mb-0">Окно с подтверждением</div>
    </div>
    <div class="window-one__body mb-30">
        <p>
            Описание проблемы и вопрос для подтверждения.<br>
            Вы действительно хотите удалить данную задачу?
        </p>
    </div>
    <div class="window-one__foot">
        <div class="window-one__foot-left">
            <a href="javascript:;" class="btn btn-lg btn-one btn_xs-full-width">
                Удалить
            </a>
        </div>
        <div class="window-one__foot-right">
            <a href="javascript:;" class="btn btn-lg btn-three btn_xs-full-width" data-fancybox-close>
                Отмена
            </a>
        </div>
    </div>
</div>

<div class="window-one window-one_short" id="w3">
    <div class="window-one__head">
        <a href="javascript:;" class="window-one__head-back font-md" data-fancybox-close></a>
        <div class="window-one__head-title h1 mb-0">Действие выполнено</div>
    </div>
    <div class="window-one__body">
        <p>
            Описание выполненного действия. Описание выполненного действия. Описание выполненного действия.
        </p>
    </div>
</div>

<div class="window-one window-one_short" id="w4">
    <div class="window-one__head">
        <a href="javascript:;" class="window-one__head-back font-md" data-fancybox-close></a>
    </div>
    <div class="window-one__body text-center">
        <div class="window-icon">
            <svg class="window-icon__attention">
                <use xlink:href="./local/img/sprite.svg#a"></use>
            </svg>
        </div>
        <div class="h1 mb-20">Какая-то ошибка</div>
        <p>
            Какое-то действие не удалось выполнить или выполнено действие по удалению чего-то, например.
        </p>
    </div>
</div>

<div class="window-one window-one_short" id="w5">
    <div class="window-one__head">
        <a href="javascript:;" class="window-one__head-back font-md" data-fancybox-close></a>
    </div>
    <div class="window-one__body text-center">
        <div class="window-icon">
            <svg class="window-icon__correct">
                <use xlink:href="./local/img/sprite.svg#с"></use>
            </svg>
        </div>
        <div class="h1 mb-20">Что-то успешно добавлено</div>
        <p>
            Какое-то действие успешно удалось выполнить, например, успешно добавить или сохранить правило и т.д.
        </p>
    </div>
</div>

<%= _.template(require('./../includes/footer.html'))() %>